mkdocs-material==9.5.*
mkdocs-gen-files==0.5.*
mkdocs-literate-nav==0.6.*
mkdocs-section-index==0.3.*
mkdocs-minify-plugin==0.8.*
mkdocs-git-revision-date-localized-plugin==1.2.*
pymdown-extensions==10.*
